
/**
	Github vibes right here
**/

html {
	background-color: #0d1117;
	font-family: "Mona Sans", monospace;
	padding-left: 15px;
	padding-right: 15px;
}

html, body {
    overflow-x: hidden;
}

footer {
	margin-top: 60px;
	margin-bottom: 2rem;
}

h1 {
	font-size: 2.5rem;
    margin-top: 0;
}

h2 {
	font-size: 2.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    margin-top: .2em;
    margin-bottom: .6em;
	font-size: 1.5rem;
}

h4 {
    margin-bottom: 1rem;
}

h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2, h3, main, footer, p {
	color: #fff;
}

a {
	color: #b1d9f1;
}

a:hover {
	color: #30d5c8;
}

img {
	max-width: 100% !important;
	border-radius: 5px
}

small {
	font-size: .8rem;
}

article {
    text-align: left;
    margin-top: 2em;
    margin-bottom: 3em;
}

.faded {
	color: #6e7681;
}

.logo {
	font-size: 3.5em;
	line-height: 100%;
}

.fa-brands {
	font-size: 2rem;
	text-decoration: none !important;
	margin-right: .3rem;
}

.fa-brands:hover {
	text-decoration: none !important;
}

.team img {
	width: 100%;
	border-radius: 1000px;
}

.btn-reset {
    background: transparent;
    border: 0;
}

.lang-btn {
    color: #bec3c9;
    font-size: 1.1rem;
}

.icon-fix {
    position: relative;
    top: -4px;
    left: 3px;
    font-size: 1rem;
}

.fa-language {
    font-size: 1.7em;
}

button.lang-btn:hover {
    color: #30d5c8;
}

figure.orton-effect img:first-of-type {
  position: absolute;
  mix-blend-mode: lighten;
  filter: blur(50px);
  opacity: 15%;
  width: 100%;
  pointer-events: none;
}

figure.orton-effect-bottom img:first-of-type {
  position: fixed;
  bottom: -750px;;
  mix-blend-mode: lighten;
  filter: blur(50px);
  opacity: 15%;
  width: 100%;
  pointer-events: none;
}

@media (max-width: 575px) {
    figure.orton-effect img:first-of-type {
        height: 3000px !important;
        opacity: 20% !important;
    }
}
