
/**
	Github vibes right here
**/

@font-face {
  font-family: 'Mona Sans';
  src:
	url('../fonts/MonaSansExpanded-Regular.woff2') format('woff2 supports variations'),
	url('../fonts/MonaSansExpanded-Regular.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
	background-color: #0d1117;
	font-family: "Mona Sans", monospace;
	padding-left: 15px;
	padding-right: 15px;
}

body {
	margin-top: 30px;
}

html, body {
    overflow-x: hidden;
}

footer {
	margin-top: 60px;
	margin-bottom: 2rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.3rem;
	position: relative;
}

h3 {
	font-size: 1.4rem;
}

h1, h2, h3, main, footer, p {
	color: #fff;
}

a {
	color: #b1d9f1;
}

a:hover {
	color: #30d5c8;
}

img {
	max-width: 100% !important;
	border-radius: 5px
}

small {
	font-size: .8rem;
}

.faded {
	color: #6e7681;
}

.logo {
	font-size: 3.5em;
	line-height: 100%;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
	margin-bottom: 7px;
}

.fa-brands {
	font-size: 2rem;
	text-decoration: none !important;
	margin-right: .3rem;
}

.fa-brands:hover {
	text-decoration: none !important;
}

.team img {
	width: 100%;
	border-radius: 1000px;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.btn-reset {
    background: transparent;
    border: 0;
}

.lang-btn {
    color: #bec3c9;
    font-size: 1.1rem;
}

.icon-fix {
    position: relative;
    top: -2px;
    left: 3px;
}

.fa-language {
    font-size: 1.7em;
}

button.lang-btn:hover {
    color: #30d5c8;
}

figure.orton-effect img:first-of-type {
  position: absolute;
  mix-blend-mode: lighten;
  filter: blur(50px);
  opacity: 15%;
  width: 100%;
}

@media (max-width: 575.98px) {
    figure.orton-effect img:first-of-type {
        height: 3000px !important;

        opacity: 20% !important;
    }
}
